<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myhomie.module.login">

    <application android:theme="@style/AppTheme">
        <activity android:name=".avtivity.LauncherActivity"/>
        <activity android:name=".avtivity.LoginActivity"/>
        <activity android:name=".avtivity.RegisterActivity"/>
    </application>

</manifest>